@model IEnumerable<BookDragon.Models.Book>

@{
    ViewData["Title"] = "Index";
}

<h1 class="subtitle text-danger">Lair's Inventory</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Cover Image
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PublishedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PageCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @if (!string.IsNullOrEmpty(item.CoverImageUrl))
                {
                    <img src="@item.CoverImageUrl" alt="@item.Title Cover" class="img-thumbnail" style="max-width: 80px; max-height: 100px;" />
                }
                else if (item.ImageData != null && item.ImageData.Length > 0)
                {
                    var imageBase64 = Convert.ToBase64String(item.ImageData);
                    var imageSrc = $"data:{item.ImageType};base64,{imageBase64}";
                    <img src="@imageSrc" alt="@item.Title Cover" class="img-thumbnail" style="max-width: 80px; max-height: 100px;" />
                }
                else
                {
                    <img src="/img/img_placeholder.jpg" alt="No Cover Available" class="img-thumbnail" style="max-width: 80px; max-height: 100px;" />
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublishedDate)
            </td>
            <td>
                @(item.Description != null && item.Description.Length > 100 ? item.Description.Substring(0, 100) + "..." : item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PageCount)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BookType)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                @if (item.Rating.HasValue)
                {
                    <div class="rating-display">
                        <span class="rating-stars">
                            @for (int i = 1; i <= 5; i++)
                            {
                                if (i <= item.Rating.Value)
                                {
                                    <span style="color: #ffc107;">★</span>
                                }
                                else
                                {
                                    <span style="color: #ddd;">★</span>
                                }
                            }
                        </span>
                        <small>(@item.Rating.Value/5)</small>
                    </div>
                }
                else
                {
                    <span class="text-muted">Not rated</span>
                }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
